<div class="container table faqs">
  <div class="row tbody">
    <div class="col-xs-11">
      <strong>Q: What is the PARC Innovation Personality Quiz?</strong>
      <br/>
      A: It’s a quick diagnostic to help managers understand how well innovation as a capability is being cultivated and applied in their company.
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11">
      <strong>Q: What’s the point?</strong>
      <br/>
      A: Two points, actually.  The first is to recognize that having innovation activities or mechanisms in place, or having executives who talk about innovation, is no guarantee of effectiveness, of a high ROI on innovation investments.  The second is to stimulate discussion between colleagues about the results they each get from the quiz: because many of the questions are subjective, colleagues in different areas might arrive at different conclusions.  That’s why we encourage sharing your results.
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11">
      <strong>Q: Why animals?</strong>
      <br/>
      A: It’s a metaphor for agility and sustainability.  A company's innovation capability can be characterized along two dimensions: Culture and Strategy.  Culture speaks to attitudes and behaviors, and the degree to which innovators are supported and encouraged.  Strategy speaks to stated intent and ambition to grow organically, and the concrete mechanisms put into place to animate the plans.  More than one type can be appropriate depending on your industry’s maturity and competitive situation, so rather than rank answers from Bad to Good, we chose the animal metaphor to better reflect pros and cons of a given innovation posture.  We’d love to hear your thoughts on this. 
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11">
      <strong>Q: What does PARC get out of it?</strong>
      <br/>
      A: Nothing directly.  This is our way of stimulating more conversation about what we call Innovation Practice Transformation: put simply, how companies develop, challenge, and measure their innovation efforts.  Meanwhile, we hope you enjoy taking the quiz.  We plan to expand and develop this version, so please let us know what you think about it.
    </div>
  </div>
</div>