<div class="container table">
  <div class="row tbody">
    <div class="col-xs-11 quiz-heading">{{ headings.heading1 }}: {{ headings.subheading2 }}</div>
  </div>
  <div class="row tbody question" ng-repeat="q in questions2">
    <div class="col-xs-8" ng-class="{selected: q.result==undefined && (questions2[$index-1].result!=undefined || $index==0)}">{{ q.question }}</div>
    <div class="col-xs-3"><div agree-disagree 
                              result="q.result" 
                              previous-result="questions2[$index-1].result"
                              question-number="$index"></div></div>
  </div>
  <div class="row tbody">
    <div class="col-xs-8"></div>
    <div class="col-xs-3">
      <div ng-click="redirect('/resultsLevel1', 'questions2')" ng-hide="questions2[questions2.length-1].result==undefined" class="quiz-button big-button">NEXT</div>
      <div class="go-back" ng-click="redirect('/questions1', 'questions2')">GO BACK</div>
    </div>
  </div>
</div>
