<div class="container table">
  <div class="row tbody">
    <div class="col-xs-11 quiz-heading">{{ headings.heading3 }}: {{ headings.subheading6 }}</div>
  </div>
  <div class="row tbody question-title">
    <div class="col-xs-11 selected">{{ questions6.question }}</div>
  </div>
  <div class="row tbody question" ng-repeat="a in questions6.answers">
    <div class="col-xs-8">{{ a.answer }}</div>
    <div class="col-xs-3">
      <div class="checkbox" ng-click="a.checked=!a.checked">
        <div ng-show="a.checked">✓</div>
      </div>
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-3 col-xs-offset-8">
      <span ng-repeat='a in filtered = (questions6.answers | filter:{checked: true})'></span>
      <div ng-click="redirect('/resultsLevel3', 'questions6')" ng-show="filtered.length > 0" class="quiz-button big-button">NEXT</div>
      <div class="hyperLink" ng-click="redirect('/questions5', 'questions6')">GO BACK</div>
    </div>
  </div>
</div>