<div class="container table">
  <div class="row tbody">
    <div class="col-xs-11 quiz-heading">{{ headings.heading2 }}: {{ headings.subheading4 }}</div>
  </div>
  <div class="row tbody question-title">
    <div class="col-xs-11 selected">{{ questions4.question }}</div>
  </div>
  <div class="row tbody question" ng-repeat="a in questions4.answers">
    <div class="col-xs-8">{{ a.answer }}</div>
    <div class="col-xs-3">
      <div class="radio" ng-click="toggleVisibility(a); questions4.result=a.weight">
        <div ng-show="isVisible(a) || questions4.result==a.weight"></div>
      </div>
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-3 col-xs-offset-8">
      <div ng-click="redirect('/resultsLevel2', 'questions4')" ng-hide="questions4.result==undefined" class="quiz-button big-button">NEXT</div>
      <div class="hyperLink" ng-click="redirect('/questions3', 'questions4')">GO BACK</div>
    </div>
  </div>
</div>