<div class="container table results">
  <div class="row tbody">
    <div class="col-xs-11 heading">
      Report Card
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11 subheadings">
      <span class="selected"><a href="#/resultsLevel1">✓ {{ headings.heading1 }}</a></span> 
      <span class="selected"><a href="#/resultsLevel2">✓ {{ headings.heading2 }}</a></span>  
      <span class="selected">✓ {{ headings.heading3 }}</span>         
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11">
      <div devil   ng-if="strategyL3 <=9 && cultureL3 <=6"></div>
      <div penguin ng-if="strategyL3 <=9 && cultureL3 >=7"></div>
      <div tiger   ng-if="strategyL3 >=10 && cultureL3 <=6"></div>
      <div dolphin ng-if="strategyL3 >=10 && cultureL3 >=7"></div>
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-3"></div>
    <div class="col-xs-8">
      <div ng-click="redirect('/questions6')" class="quiz-button big-button">BACK</div>
      <div class="quiz-button big-button">NEXT</div>
    </div>
  </div>
</div>

<hr>
<b>debug</b>
<br>
strategy: {{strategyL3}}
<br>
culture: {{cultureL3}}