<div class="container table results">
  <div class="row tbody">
    <div class="col-xs-11 heading">
      Report Card
    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-11 subheadings">
      <span class="selected"><a href="#/resultsLevel1">✓ {{ headings.heading1 }}</a></span> 
      <span class="selected"><a href="#/resultsLevel2">✓ {{ headings.heading2 }}</a></span>  
      <span class="selected">✓ {{ headings.heading3 }}</span>         
    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-11">
      <div devil   ng-if="strategyL3 <=9 && cultureL3 <=6" recommendation="recommendation"></div>
      <div penguin ng-if="strategyL3 <=9 && cultureL3 >=7" recommendation="recommendation"></div>
      <div tiger   ng-if="strategyL3 >=10 && cultureL3 <=6" recommendation="recommendation"></div>
      <div dolphin ng-if="strategyL3 >=10 && cultureL3 >=7" recommendation="recommendation"></div>
    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-9 col-xs-offset-2">
      <div ng-show="!recommendation" ng-click="redirect('/questions6')" class="quiz-button big-button">BACK</div>
      <div ng-show="!recommendation" ng-click="recommendation=!recommendation" class="quiz-button big-button">NEXT</div>
      <div ng-show="recommendation" ng-click="recommendation=!recommendation" class="quiz-button big-button">BACK</div>
    </div>
  </div>
  
  <!-- <div class="row tbody">
    <div class="col-xs-9 col-xs-offset-2 share-quiz">
      <p><strong>Share this Quiz (your result will not be shared)</strong> </p>
      <span class='st_facebook_large'   st_url="http://www.parc.com" displayText='Facebook'></span>
      <span class='st_googleplus_large' st_url="http://www.parc.com" displayText='Google +'></span>
      <span class='st_twitter_large'    st_url="http://www.parc.com" displayText='Tweet'></span>
      <span class='st_linkedin_large'   st_url="http://www.parc.com" displayText='LinkedIn'></span>
    </div>
  </div> -->

  <div class="row tbody">
    <div class="col-xs-9 col-xs-offset-2">
      <div class="hyperLink" ng-click="resetQuiz()">RESET QUIZ</div>
      <!-- <small>strategy: {{strategyL3}} | culture: {{cultureL3}}</small> -->
    </div>
  </div>
  
</div>