<div class="container table results">
  <div class="row tbody">
    <div class="col-xs-11 heading">
      Report Card
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11 subheadings">
      <span class="selected"><a href="#/resultsLevel1">✓ {{ headings.heading1 }}</a></span>    
      <span class="selected">✓ {{ headings.heading2 }}</span>    
      <span ng-show="level3.length > 0" class="selected"><a href="#/resultsLevel3"> {{ headings.heading3 }}</a></span>    
      <span ng-hide="level3.length > 0"> {{ headings.heading3 }}</span> 
      <span ng-repeat='a in level3 = (questions6.answers | filter:{checked: true})'></span>       
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-11">
      <div devil   ng-if="strategyL2 <=3 && cultureL2 <=3"></div>
      <div penguin ng-if="strategyL2 <=3 && cultureL2 >=4"></div>
      <div tiger   ng-if="strategyL2 >=4 && cultureL2 <=3"></div>
      <div dolphin ng-if="strategyL2 >=4 && cultureL2 >=4"></div>
    </div>
  </div>
  <div class="row tbody">
    <div class="col-xs-9 col-xs-offset-2">
      <div ng-click="redirect('/questions4')" class="quiz-button big-button margin-left-15">BACK</div>
      <div ng-click="redirect('/questions5')" class="quiz-button big-button">NEXT</div>
      <div class="hyperLink" ng-click="resetQuiz()">RESET QUIZ</div>
      <!-- <small>strategy: {{strategyL2}} | culture: {{cultureL2}}</small> -->
    </div>
  </div>
</div>