<div class="container table">
  
  <div class="row tbody"> 
    <div class="col-xs-6">
      Share Your Results
      
      <span class='st_facebook_large'   st_url="http://www.parc.com" displayText='Facebook'></span>
      <span class='st_googleplus_large' st_url="http://www.parc.com" displayText='Google +'></span>
      <span class='st_twitter_large'    st_url="http://www.parc.com" displayText='Tweet'></span>
      <span class='st_linkedin_large'   st_url="http://www.parc.com" displayText='LinkedIn'></span>

    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-6 ">
      <div class="quiz-button big-button" ng-click="redirect('/resultsLevel3')">BACK</div>
    </div>
  </div>

</div>
