<div class="splash table">

  <div class="subheading">
    What’s your company’s innovation persona?
  </div>

  <div class="heading">
    Every company has an innovation personality.
  </div>

  <div class="description">
    Each personality is determined by many factors, both environmental (e.g. industry maturity) and behavioral (how innovators are supported). PARC has identified four types designated by animal characters.
  </div>

  <div class="pictures">
    <img src="img/animals.png"/>
  </div>

  <div class="calltoaction">
    Discover your company's type and what it means for future growth.
  </div>
  
  <div class="quiz-button big-button" ng-click="redirect('/questions1')">
    Go!
  </div>

</div>
