<div class="container table splash">
  <div class="row tbody"> 
    <div class="col-xs-6">
      What’s your company’s innovation persona?
    </div>
  </div>
    
  <div class="row tbody">
    <div class="col-xs-6 heading">
      Every company has an innovation personality.
    </div>
  </div>

  <div class="row tbody">
    <div class="col-xs-6 description">
      Each personality is determined by many factors, both environmental <br/>
      (e.g. industry maturity) and behavioral (how innovators are supported). <br/>
      PARC has identified four types designated by animal characters.
    </div>
  </div>

  <div class="row tbody">
    <div class="col-xs-6 pictures">
      <img src="img/animals.png"/>
    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-7 calltoaction">
      Discover your company's type and what it means<br/>
      for future growth.
    </div>
  </div>
  
  <div class="row tbody">
    <div class="col-xs-6 ">
      <div class="quiz-button big-button" ng-click="redirect('/questions1')">
        Go!
      </div>
    </div>
  </div>

</div>
