<div class="container table">
  <div class="row tbody">
    <div class="col-xs-3 result-heading">
      <img src="img/devil.png">
    </div>
    <div class="col-xs-6">
      <div class="animal-name">
        Tasmanian Devil
      </div>
      <div class="animal-description">
        Vigorous lone animals that are vulnerable outside of their own environment
      </div>
      <ul>
        <li>Trying hard to stay relevant in the existing market. Powerful brand equity but no clear vision or strategy.</li>
        <li>Quite vulnerable to future market change, but a robust balance sheet could find a recovery.</li>
        <li>There are some innovation initiatives but none of them seem like a big idea.</li>
        <li>Disconnect between the management and employees: no common commitment.</li>
      </ul>
    </div>
  </div>
</div>