<div class="result-heading">
  <img src="img/devil.png">
  <strong>Tasmanian Devil</strong>
  Vigorous lone animals that are vulnerable outside of their own environment
</div>

<div class="result-description">
  Trying hard to stay relevant in the existing market. Powerful brand equity but no clear vision or strategy.
  <p/>
  Quite vulnerable to future market change, but a robust balance sheet could find a recovery.
  <p/>
  There are some innovation initiatives but none of them seem like a big idea.
  <p/>
  Disconnect between the management and employees: no common commitment.
</div>