<div class="container table">
  <div class="row tbody">
    <div class="col-xs-3 result-heading">
      <img src="img/dolphin.png">
    </div>
    <div class="col-xs-6">
      <div class="animal-name">
        Dolphin
      </div>
      <div class="animal-description">
        Curious intelligent mammals that play well in a group. Relatively matured inovation culture and strategy.
      </div>
      <ul>
        <li>Clear management support and innovation.</li>
        <li>Innovation agenda is more or lress aligned with company strategies.</li>
        <li>Innovation mechanism (process, tools and system) are well deployed.</li>
      </ul>
    </div>
  </div>
</div>