<div class="container table">
  <div class="row tbody">
    <div class="col-xs-2 result-heading">
      <img src="img/penguin.png">
    </div>
    <div class="col-xs-7">
      <div class="animal-name">
        Penguin
      </div>
      <div class="animal-description">
        Group players that support each other for survival.
      </div>
      <ul>
        <li>Innovation is talked about and encouraged in your organization.</li>
        <li>Existing innovation process and tools, but perhaps people within the organization are not able to take full advantage of them.</li>
        <li>You feel that your organization is too large to manage innovation effectively or in an agile way.</li>
        <li>Innovation is widely encouraged, but unfocused, and not quite integrated to company strategy or vision.</li>
      </ul>
    </div>
  </div>
</div>