<div class="result-heading">
  <img src="img/penguin.png">
  <strong>Penguin</strong>
  Group players that support each other for survival.
</div>

<div class="result-description">
  Innovation is talked about and encouraged in your organization.
  <p/>
  Existing innovation process and tools, but perhaps people within the organization are not able to take full advantage of them.
  <p/>
  You feel that your organization is too large to manage innovation effectively or in an agile way.
  <p/>
  Innovation is widely encouraged, but unfocused, and not quite integrated to company strategy or vision.
</div>