<div class="container table">
  <div class="row tbody">
    <div class="col-xs-3 result-heading">
      <img src="img/tiger.png">
    </div>
    <div class="col-xs-6">
      <div class="animal-name">
        Tiger
      </div>
      <div class="animal-description">
        Iconoclastic lone animals with a clever strategy
      </div>
      <ul>
        <li>Relatively strong strategy and business</li>
        <li>Strategically invested in key innovation programs.</li>
        <li>Strong leadership</li>
        <li>Potentially vulnerable to paradigm shift in your industry</li>
      </ul>
    </div>
  </div>
</div>